<footer>
    <div class="container">
        <p>© 2025 Apprentissage Créatif. Tous droits réservés.</p>

        <div class="footer-flex d-flex justify-content-between align-items-center">
            <ul class="footer-links text-start">
                <li><a href="/"><i class="fa-solid fa-arrow-right-long"></i>Accueil</a></li>
                <!-- <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>À propos</a></li> -->
                <li><a href="/laflammedalex/"><i class="fa-solid fa-arrow-right-long"></i>Livers</a></li>
                <!-- <li><a href="../shop.html"><i class="fa-solid fa-arrow-right-long"></i>Boutique</a></li> -->
                <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i>Contact</a></li>
            </ul>

            <ul class="social-media d-flex justify-content-between align-items-center gap-5">
                <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</footer>