<header>
    <div class="main-menu">
        <div class="logo-flex d-flex justify-content-between align-items-center">
            <div class="left col-8" id="upper-menu">
                <ul class="d-flex justify-content-between align-items-center">
                    <li class="logo-img">
                        <a href="/">
                            <img src="/assets/img/logo.webp" alt="Website's logo">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apropos.html">À propos</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Livres
                        </a>
                        <ul class="dropdown-menu nav-menu">
                            <li><a class="dropdown-item" href="/laflammedalex/">La flamme d'Alex</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="burger-btn col-2" id="burger-btn-id">
                <button><i class="fa-solid fa-bars"></i></button>
            </div>

            <div class="right col-2">
                <ul>    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                        <ul class="dropdown-menu nav-menu">
                            <li><a class="dropdown-item" href="#">Français</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="burger-menu" id="burger-menu-id">
            <button id="burger-close-btn-id">
                <i class="fa-solid fa-circle-xmark"></i>
            </button>

            <div class="">
                <!-- <div class="logo-img">
                    <a href="/"><img src="/assets/img/logo.webp" alt=""></a>
                </div> -->
                <div class="logo-text">
                    <a href="/">
                        <p>Edition apprentissage créatif</p>
                    </a>
                </div>
            </div>

            <hr>

            <ul>	
                <li><a href="/"><i class="fa-solid fa-house-chimney-window"></i><span>Accueil</span></a></li>
                
                <li><a href="/apropos.html"><i class="fa-solid fa-address-card"></i><span>À propos</span></a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-book-open"></i><span>
                        Livres
                    </a>
                    <ul class="dropdown-menu nav-menu">
                        <li><a class="dropdown-item" href="/laflammedalex/">La flamme d'Alex</a></li>
                    </ul>
                </span></a></li>
                
                <li><a href="/contact"><i class="fa-solid fa-phone"></i><span>contact</span></a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-globe"></i><span>Langue</span>
                    </a>
                    <ul class="dropdown-menu nav-menu">
                        <li><a class="dropdown-item" href="#">Français</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <section class="main-banner">
        <div class="container">
            <div class="banner text-end">
                <div class="banner-text">
                    <h1>Edition apprentissage créatif</h1>
                </div>
                <div class="banner-logo">
                    <img src="/assets/img/logo.webp" alt="Website's logo">
                </div>
            </div>
        </div>
    </section>
</header>