@import "variables";

footer{
    padding: 0.5rem 0;
    border-radius: 10px 10px 0 0;
    background-color: $footer-color;
    font-family: $handlee-font;
    text-align: center;
    
    .footer-links{
        i{
            font-size: 1rem;
            margin-right: 0.5rem;
        }
    }
    
    p{
        padding: 1rem 0;
        color: $light-textcolor;
    }
    
    ul{
        list-style: none;
        a{
            font-size: 1rem;
        }
    }

    i{
        font-size: 1.8rem;
    }
}

@media (max-width: $phone-size) {
    footer{
        p{
            font-size: 0.9rem;
        }
    }
}