@import "variables";

header{
    background-color: $menu-color;

    .main-menu{
        margin: 0 auto;
        width: 100%;

        img{
            width: 70px;
            height: auto;
        }
        
        ul{
            list-style: none;
        }
        
        .logo-flex{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            transition: 2s;
            padding: 0 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $nav-textsize;
            background-color: $menu-color;

            .nav-link{
                background-color: $menu-color;

                color: $light-textcolor;

                &:hover{
                    color: $hover-color;
                }
            }

            .nav-menu{
                background-color: $menu-color;

                .dropdown-item{
                    background-color: $menu-color;

                    &:hover{
                        background-color: $hover-color;
                    }
                }
            }

            .left{
                width: 50%;
            }
        }

        .burger-btn{
            display: none;

            button{
                all: unset;
                padding: 5px 10px;
                border: 0.1rem solid $light-textcolor;
                border-radius: 0.5rem;
                font-size: 1.5rem;
                color: $light-textcolor;
                cursor: pointer;

                i{
                    margin: 0;
                }

                &:hover{
                    color: $hover-color;
                }
            }
        }

        .burger-menu{
            display: none;
            position: fixed;
            top: 5;
            right: 0;
            width: 100vw;
            height: 100vh;
            background-color: $menu-color;
            opacity: 100%;
            padding: 20px 40px;
            z-index: 10000;
            overflow-y: hidden;
            // transform: translateX(100%);
            // transition: transform 0.3s ease-in-out;

            button{
                all: unset;
                margin-left: 95%;
                margin-top: -20rem;
                opacity: 100%;
                border-radius: 5px;
                cursor: pointer;
                
                i{
                    border: 3px solid wheat;
                    border-radius: 2rem;
                    background-color: wheat;
                    font-size: 2.5rem;
                    color: #8E1616;
                }
            }

            .logo-text{
                a{
                    text-decoration: none;
                    font-family: $header-font;
                    font-weight: 500;
                    
                    p{
                        color: $light-textcolor;
                        font-size: 1.1rem;
                    }
                }
            }

            ul{
                margin-top: 30px;
                font-size: 1.3rem;

                .dropdown{
                    color: $light-textcolor;

                    .nav-menu{
                        background-color: $menu-color;

                        .dropdown-item{
                            background-color: $menu-color;

                            &:hover{
                                background-color: $hover-color;
                            }
                        }
                    }
                }

                li{
                    padding: 10px 0;

                    i{
                        margin-right: 1rem;
                        padding: 10px;
                        border: 1px solid $light-textcolor;
                        border-radius: 5px;
                    }
                }

                span{
                    text-transform: capitalize;
                }
            }

            &.active{
                transform: translateX(0);
            }
        }
    }

    .main-banner{
        @include bg-img-style($main-bannerimg);
        margin-top: 85px;
        padding: 30px 0 100px 0;
        border-bottom: 1rem solid $menu-color;

        .banner{
            .banner-text{ 
                h1{
                    line-height: 4;
                    text-shadow: 0 2px 6px rgba(0,0,0,0.35);
                    overflow: visible;
                    word-break: break-word;
                    max-width: 100%;
                }
            }

            .banner-logo{
                margin-left: 70%;

                img{
                    width: 250px;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 1100px){
    header{
        .main-menu{

            
            .logo-flex{
                padding: 0 1rem;
                font-size: 1.1rem;
            }
        }

        .main-banner{
            padding: 30px 0 70px 0;
            border-bottom: 0.8rem solid $menu-color;

            .banner{
                .banner-text{ 
                    h1{
                        line-height: 4;
                        font-size: 2rem;
                    }
                }

                .banner-logo{

                    img{
                        width: 230px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: $large-size){
    header{
        .main-menu{

            .logo-flex{
                padding: 0;

                .left{
                    width: 60%;
                }
            }
        }

        .main-banner{
            padding: 30px 0;
            border-bottom: 0.7rem solid $menu-color;

            .banner{
                .banner-text{ 
                    h1{
                        line-height: 4;
                        font-size: 1.6rem;
                    }
                }

                .banner-logo{

                    img{
                        width: 200px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-size){
    header{
        .main-menu{

            .logo-flex{
                justify-content: space-between;
                align-items: center;
                .nav-item{
                    display: none;
                }

                .right{
                    display: none;
                }
            }

            .burger-btn{
                display: block;
            }
        }

        .main-banner{
            padding: 30px 0;
            border-bottom: 0.7rem solid $menu-color;

            .banner{
                .banner-text{ 
                    h1{
                        line-height: 4;
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-shadow: 0 2px 6px rgba(0,0,0,0.35);
                    }
                }
            }
        }
    }
}

@media (max-width: $small-size){
    header{
        .main-banner{

            .banner{
                
                .banner-text{
                    padding: 200px 0 0 0;
                    h1{
                        text-align: start;
                        font-weight: 800;
                        text-shadow: 0 0 2rem #000;
                    }
                }

                .banner-logo{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $phone-size){
	header{
        .main-menu{

            .burger-btn{

                button{
                    font-size: 1.1rem;
                }
            }
        }

        .main-banner{
            border-bottom: 0.4rem solid $menu-color;

            .banner{
                .banner-text{ 
                    h1{
                        font-size: 1rem;
                        text-shadow: 0 2px 6px $light-textcolor;
                    }
                }
            }
        }
    }
}
