@import "variables";

.mission-sec{
    
    .mission{
        position: relative;
        margin: 5rem 0;
        padding: 2rem 3rem;
        border: 0.3rem solid $main-color;
        border-radius: 1rem;

        .mission-title{
            position: absolute;
            bottom: 93%;
            background-color: #fff;
            z-index: 1;

            i{
                padding-right: 1rem;
                font-size: 2rem;
            }

            h2{
                padding: 0 2rem;
                line-height: 0.2rem;
            }
        }

        .mission-text{
            position: relative;
            z-index: 2;
            p{
                z-index: 2;
                color: inherit;
            }
        }
    }
    
}

.laflammedalex-cover{
    @include coverpages-sec-style;
}

@media (max-width: $large-size){
    .mission-sec{
        .mission{
            margin: 3rem 0;
            padding: 2rem 2rem 1rem 2rem;
            border: 0.2rem solid $main-color;

            .mission-title{

                h2{
                    font-size: 2rem;
                }
            }
        }
        
    }
}

@media (max-width: $medium-size){
    .mission-sec{
        .mission{
            margin: 2rem 0;
            padding: 1.5rem 1.5rem 1rem 1.5rem;

            .mission-title{
                bottom: 95%;
                h2{
                    font-size: 1.7rem;
                }
            }
        }
        
    }
}

@media (max-width: $phone-size){
    .mission-sec{
        .mission{
            margin: 2rem 0;
            padding: 1.5rem 1.5rem 1rem 1.5rem;

            .mission-title{
                bottom: 97%;
                h2{
                    font-size: 1rem;
                }
            }

            .mission-text{

                p{
                    font-size: 0.9rem;
                }
            }
        }
        
    }
}