@import "variables";

section{
    padding: 5rem 0;
}

.laflammedalex-description{
    .description{
        padding: 1rem;
        border: 1rem solid $book-bg-color;
        text-align: center;
        
        h2{
            font-size: 3rem;
        }

        img{
            margin-bottom: 1rem;
            display: inline-block;
            width: 100px;
            height: auto;
        }

        p{
            span{
                font-style: italic;
            }
        }
    }  
}

.laflammedalex-cover{
    background-color: $book-bg-light-color;
    text-align: center;

    .audio-btn{
        margin-top: 4rem;
        a{
            @include a-as-btn-style;
        }
    }
        
}

.book-pages{
    text-align: center;

    .container{
        max-width: 800px;
    }

    .laflammedalex-pages{
        border: 0.2rem solid $book-bg-color;
        border-radius: 50px;
        background-color: $book-bg-light-color;

        position: relative;

        .slick-arrow{
            position: absolute;
            top: 45%;
            right: 105%;
            height: 50px;
            width: 50px;
            border: 0.2rem solid $book-bg-color;
            border-radius: 50px;
            box-shadow: 0 0 1rem #999;
            background-image: url("/assets/img/pink-arrow.svg");
            background-position: center;
            background-size: cover;
            color: transparent;
            font-size: 0;
        }

        .slick-next{
            left: 105%;
            transform: rotate(180deg);
        }

        .slick-dots{
            position: absolute;
            top: 105%;
            left: 48%;
            transform: translateX(-50%);
            list-style: none;
            display: flex;
            gap: 10px;

            button{
                all: unset;
                height: 0.7rem;
                width: 0.7rem;
                background-color: $book-bg-color;
                border-radius: 10px;
                box-shadow: 1px 1px 2px #999;
                font-size: 0;
                cursor: pointer;
            }
        }

        .book-slide{
            margin: 1rem 4rem;
            margin-top: 3rem;

            .page-text{
                margin-top: 1rem;
                text-align: center;

                h6{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }
    }

    .fullscreen-btn{
        // margin-top: 1rem;
        button{
            @include order-btn-style;
        }
    }
}

.book-fullscreen{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    opacity: 99%;
    overflow-y: hidden;
    z-index: 1000;
    border: 1px solid white;
	transition: transform 1s ease-in-out;
    overflow: hidden;

    .close-btn{
        all: unset;
        position: absolute;
        top: 2%;
        right: 3%;
        // margin-left: 100%;
        color: $light-textcolor;
        // opacity: 100%;
        // border-radius: 5px;
        cursor: pointer;
        
        i{
            border: 3px solid wheat;
            border-radius: 2rem;
            background-color: wheat;
            font-size: 2.5rem;
            color: #8E1616;
        }
    }

    .flipbook{
        margin-top: 7%;
        overflow: hidden;

        .hard {
            background: $book-bg-color !important;
            color: #fff;
            font-weight: bold;
            border: none; 

            img{
                height: 100%;
                width: auto;
            }
        }

        .page {
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid rgba(0, 0, 0, 0.11);

            img{
                // width: 70%;
                object-fit: cover;
                margin: auto;
            }
        }
    }

    button{
        all: unset;
        position: absolute;
        top: 45%;
        cursor: pointer;
        width: 50px;
        height: auto;
    }

    .prev-btn{
        right: 90%;
    }

    .next-btn{
        left: 90%;
    }
}

.order-request{
    margin-top: 50px;
    background-color: $section-bg-color;
    .order-form{
        @include form-style;
    }
}

iframe{
    @include form-style;
}

// #flipbook {
//     position: relative;
//     width: 800px;
//     height: 300px;
//     margin: 0 auto;
//     z-index: 1;

//     .protect-img{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: transparent;
//         background: #000;
//         z-index: 1000;
//     }
// }

// .flipbook .hard small{
// 	font-style: italic;
// 	font-weight: lighter;
// 	opacity: 0.7;
// 	font-size: 14px;
// }

// .flipbook .page small{
// 	font-size: 14px;
//     margin-bottom: 10px;
// }

// #flipbook {
//   width: 400px;
//   height: 400px;
//   margin: 0 auto;
// }
// #flipbook .page {
//     width: 100%;
//     height: auto;
//   background: white;
//   box-shadow: 0 0 10px #ccc;
// }