@import "variables";

.audio-sec{
    
    .book-info{
        .cover-page{
            img{
                height: 500px;
                width: auto;
                border: 0.2rem solid $main-color;
            }
        }

        .info{
            padding-top: 2rem;

            span{
                font-size: 1.2rem;
                font-weight: 500;
                color: $dark-textcolor;
            }

            p{
                line-height: 1rem;
            }
        }
        
    }

    .audio{
        padding: 10rem;

        h3{
            padding-top: 2rem;
            font-size: 2rem;
        }

        audio {
            width: 100%;
            padding: 10px;
        }

        audio::-webkit-media-controls-panel {
            background-color: $menu-color;
            color: #fff;
        }
        
        audio::-webkit-media-controls-play-button,
        audio::-webkit-media-controls-mute-button {
            color: #fff;
        }

        audio::-webkit-media-controls-current-time-display,
        audio::-webkit-media-controls-time-remaining-display {
            color: #fff;
        }
    }

    .return-btn{
        text-align: center;
        
        a{
            @include a-as-btn-style;
            text-transform: none;
        }
    }
}