// fonts
$header-font: 'Zapfino', sans-serif;
$handlee-font: 'Handlee', cursive;
$body-font: 'Roboto', sans-serif;

// font-sizes
$nav-textsize: 1.3rem;
$p-textsize: 1.1rem;

// colors
$menu-color: #3076aa;
$main-color: #8AA624;
$light-textcolor: #F4FAFF;
$dark-textcolor: #08090b;
$footer-color: $menu-color;
$hover-color: #BBDCE5;
$red-color: #9A3F3F;
$btn-color: #ffdb3c;
$section-bg-color: #e3e4de;
$book-bg-color: #f6a69b;

// images
$main-bannerimg: url("../img/main-banner.webp");
$logo-img: url("../img/logo.png");

// background style
@mixin bg-img-style($img-name){
    background-image: $img-name;
    background-size: cover;
    background-position: left;
}

// animations
$right-to-left-text: moveText 15s linear infinite;
@keyframes moveText {
    0% {
        // left: 100%;
        transform: translateX(100%);
    }
    100% {
        // left: -90%;
        transform: translateX(-30%);
    }
}

@mixin form-style() {
    padding: 2rem;
    border: 1rem solid $book-bg-color;
    background-color: $light-textcolor;
    
    div{
        margin: 2rem 0;
        
        label{
            display: block;
            margin-bottom: 0.2rem;
            font-family: $handlee-font;
            font-size: 1.5rem;

            span{
                font-family: red;
                color: $red-color;
            }
        }

        input, textarea{
            width: 100%;
            font-size: 1.2rem;
        }

        textarea{
            resize: vertical;
            min-height: 150px;
            max-height: 400px;
            overflow: auto;
            box-sizing: border-box;
        }
    }

    button{
        @include order-btn-style;
    }
}

// Screen Sizes
$phone-size: 480px;
$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;

@mixin order-btn-style{
    margin-top: 3rem;
    padding: 0.5rem 3rem;
    border: 0.2rem solid $light-textcolor;
    border-radius: 3rem;
    background-color: $red-color;
    color: $light-textcolor;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover{
        border: 0.2rem solid $red-color;
        background-color: $light-textcolor;
        color: $red-color;
    }
}