@-webkit-keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
@font-face {
  font-family: "Zapfino";
  src: url(../fonts/Zapfino.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #08090b;
}

section {
  padding: 100px;
}

a {
  text-decoration: none;
  color: #F4FAFF;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
}
a:hover {
  color: #BBDCE5;
}

img {
  margin: auto;
  max-width: 100%;
  display: block;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-family: "Zapfino", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Handlee", cursive;
}

h2 {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #8AA624;
}

h3 {
  margin-bottom: 2rem;
  text-align: center;
  color: #3076aa;
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 1.1rem;
  color: #08090b;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: 2s;
  transition: 2s;
}

.nav-menu {
  margin: 0;
  background-color: #3076aa;
  font-size: 1.3rem;
}
.nav-menu .container {
  max-width: 90%;
}
.nav-menu .nav-link {
  color: #F4FAFF;
}
.nav-menu .nav-link:hover {
  color: #BBDCE5;
}
.nav-menu img {
  width: 70px;
  height: auto;
}
.nav-menu .dropdown-item:hover {
  background-color: #BBDCE5;
}

.main-banner {
  background-image: url("../img/main-banner.webp");
  background-size: cover;
  background-position: left;
  margin-top: 85px;
  padding: 30px 0 100px 0;
  border-bottom: 1rem solid #3076aa;
}
.main-banner .banner .banner-text h1 {
  line-height: 4;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  overflow: visible;
  word-break: break-word;
  max-width: 100%;
}
.main-banner .banner .banner-logo {
  margin-left: 70%;
}
.main-banner .banner .banner-logo img {
  width: 250px;
  height: auto;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
.mission-sec .mission {
  position: relative;
  margin: 7rem 0;
  padding: 2rem 3rem;
  border: 0.3rem solid #8AA624;
  border-radius: 1rem;
}
.mission-sec .mission .mission-title {
  position: absolute;
  bottom: 80%;
  background-color: #fff;
  z-index: 1;
}
.mission-sec .mission .mission-title i {
  padding-right: 1rem;
  font-size: 2rem;
}
.mission-sec .mission .mission-title h2 {
  padding: 0 2rem;
  line-height: 0.2rem;
}
.mission-sec .mission .mission-text {
  position: relative; /* make z-index work */
  z-index: 2;
}
.mission-sec .mission .mission-text p {
  z-index: 2;
  color: inherit;
}

.futur-publication {
  background-image: url("../img/main-banner.webp");
  background-size: cover;
  background-position: left;
  background-color: rgba(225, 225, 225, 0.8);
  background-blend-mode: overlay;
}
.futur-publication .all-publication {
  position: relative;
}
.futur-publication .all-publication .slick-arrow {
  position: absolute;
  top: 40%;
  right: 90%;
  height: 50px;
  width: 50px;
  border: 0.2rem solid #3076aa;
  border-radius: 50px;
  background-image: url("/assets/img/arrow.svg");
  background-position: center;
  background-size: cover;
  color: transparent;
  font-size: 0;
  cursor: pointer;
}
.futur-publication .all-publication .slick-next {
  left: 90%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.futur-publication .all-publication .slick-previous {
  cursor: pointer;
}
.futur-publication .all-publication .slick-dots {
  position: absolute;
  top: 110%;
  left: 41%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.futur-publication .all-publication .slick-dots button {
  all: unset;
  height: 1rem;
  width: 1rem;
  background-color: #3076aa;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px #999;
          box-shadow: 1px 1px 2px #999;
  font-size: 0;
  cursor: pointer;
}
.futur-publication .all-publication .publication {
  margin: 0 5rem;
  padding: 3rem;
  height: 250px;
  border: 0.2rem solid #3076aa;
  border-radius: 2rem;
  background-color: #F4FAFF;
  color: #8AA624;
  text-align: center;
}
.futur-publication .all-publication .publication i {
  display: inline;
  font-size: 4rem;
  color: #556B2F;
}
.futur-publication .all-publication .publication h4 {
  margin-top: 2rem;
  text-shadow: 0 0 10px #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.futur-publication .order-now-btn {
  margin-top: 7rem;
  text-align: center;
}
.futur-publication .order-now-btn a {
  margin-top: 7rem;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border: 0.1rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
}
.futur-publication .order-now-btn a:hover {
  border: 0.1rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
.about-sec .slogan {
  text-align: center;
}
.about-sec .slogan h2 {
  color: #9A3F3F;
  text-shadow: 0 0 0.2rem #777;
  line-height: 4rem;
  font-size: 3.5rem;
}
.about-sec .about-flex {
  margin-top: 7rem;
}
.about-sec .about-flex .about {
  padding: 2rem 3rem;
  border: 0.1rem solid rgba(249, 249, 249, 0.9607843137);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0.5rem #555;
          box-shadow: 0 0 0.5rem #555;
  background-color: #F4FAFF;
}
.about-sec .about-flex .about h3 {
  font-size: 2rem;
}
.about-sec .about-flex .about .about-text p {
  text-align: justify;
}
.about-sec .about-flex .about .about-text ul li {
  padding: 0.5rem;
}
.about-sec .about-flex .about .about-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
.products .products-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products .products-flex .product-box {
  width: 400px;
  height: 500px;
  border: 0.1rem solid #9A3F3F;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F4FAFF;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.products .products-flex .product-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.products .products-flex .product-box img {
  width: auto;
  height: 200px;
  margin-bottom: 1rem;
  -webkit-filter: drop-shadow(0 2rem 1rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 2rem 1rem rgba(0, 0, 0, 0.1));
}
.products .products-flex .product-box p {
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  color: #08090b;
}
.products .products-flex .product-box button {
  margin: 1rem 0 2rem 0;
  padding-right: 1.5rem;
  font-size: 1.2rem;
  color: #9A3F3F;
  border: 0.2rem solid #9A3F3F;
  border-radius: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.products .products-flex .product-box button span {
  padding: 0.6rem 0.7rem 0.5rem 0.5rem;
  background-color: #9A3F3F;
  border-radius: 1.2rem 0 0 1.2rem;
  color: #fff;
}
.products .products-flex .product-box button:hover {
  background-color: #9A3F3F;
  color: #F4FAFF;
}
.products .products-flex .product-box button:hover span {
  background-color: #fff;
  color: #9A3F3F;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
section {
  padding: 5rem 0;
}

.laflammedalex-description .description {
  padding: 1rem;
  border: 1rem solid #f6a69b;
  text-align: center;
}
.laflammedalex-description .description h2 {
  font-size: 3rem;
}
.laflammedalex-description .description img {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100px;
  height: auto;
}
.laflammedalex-description .description p span {
  font-style: italic;
}

.laflammedalex-cover {
  background-color: #FFF2EF;
  text-align: center;
}
.laflammedalex-cover div {
  margin-top: 2rem;
}
.laflammedalex-cover div a {
  margin-top: 7rem;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border: 0.1rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
}
.laflammedalex-cover div a:hover {
  border: 0.1rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

.book-pages {
  text-align: center;
}
.book-pages .laflammedalex-pages {
  border: 0.3rem solid #f6a69b;
  border-radius: 50px;
  background-color: #FFF2EF;
  position: relative;
}
.book-pages .laflammedalex-pages .slick-arrow {
  position: absolute;
  top: 45%;
  right: 105%;
  height: 50px;
  width: 50px;
  border: 0.3rem solid #f6a69b;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 1rem #999;
          box-shadow: 0 0 1rem #999;
  background-image: url("/assets/img/pink-arrow.svg");
  background-position: center;
  background-size: cover;
  color: transparent;
  font-size: 0;
}
.book-pages .laflammedalex-pages .slick-next {
  left: 105%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.book-pages .laflammedalex-pages .slick-dots {
  position: absolute;
  top: 105%;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.book-pages .laflammedalex-pages .slick-dots button {
  all: unset;
  height: 1rem;
  width: 1rem;
  background-color: #f6a69b;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px #999;
          box-shadow: 1px 1px 2px #999;
  font-size: 0;
  cursor: pointer;
}
.book-pages .laflammedalex-pages .book-slide {
  margin: 1rem 4rem;
}
.book-pages .laflammedalex-pages .book-slide .page-text {
  text-align: center;
}
.book-pages .laflammedalex-pages .book-slide .page-text h6 {
  font-size: 1.5rem;
  font-weight: 600;
}
.book-pages .fullscreen-btn {
  margin-top: 5rem;
}
.book-pages .fullscreen-btn button {
  margin-top: 3rem;
  padding: 0.5rem 3rem;
  border: 0.2rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.2rem;
  cursor: pointer;
}
.book-pages .fullscreen-btn button:hover {
  border: 0.2rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

.book-fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 99%;
  overflow-y: hidden;
  z-index: 1000;
  border: 1px solid white;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.book-fullscreen .close-btn {
  all: unset;
  position: absolute;
  top: 2%;
  right: 3%;
  color: #F4FAFF;
  cursor: pointer;
}
.book-fullscreen .close-btn i {
  border: 3px solid wheat;
  border-radius: 2rem;
  background-color: wheat;
  font-size: 2.5rem;
  color: #8E1616;
}
.book-fullscreen .flipbook {
  margin: 50px 0;
}
.book-fullscreen .flipbook .hard {
  background: #c0392b !important;
  color: #fff;
  font-weight: bold;
  border: none;
}
.book-fullscreen .flipbook .page {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.11);
}
.book-fullscreen .flipbook .page img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
.book-fullscreen button {
  all: unset;
  position: absolute;
  top: 45%;
  cursor: pointer;
  width: 50px;
  height: auto;
}
.book-fullscreen .prev-btn {
  right: 90%;
}
.book-fullscreen .next-btn {
  left: 90%;
}

.order-request {
  margin-top: 100px;
  background-color: #e3e4de;
}
.order-request .order-form {
  padding: 2rem;
  -webkit-box-shadow: 0 0 0.5rem #08090b;
          box-shadow: 0 0 0.5rem #08090b;
  border: 1rem solid #f6a69b;
  background-color: #F4FAFF;
}
.order-request .order-form div {
  margin: 2rem 0;
}
.order-request .order-form div label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
}
.order-request .order-form div label span {
  font-family: red;
  color: #9A3F3F;
}
.order-request .order-form div input, .order-request .order-form div textarea {
  width: 100%;
  font-size: 1.2rem;
}
.order-request .order-form div textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.order-request .order-form button {
  margin-top: 3rem;
  padding: 0.5rem 3rem;
  border: 0.2rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.2rem;
  cursor: pointer;
}
.order-request .order-form button:hover {
  border: 0.2rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

iframe {
  padding: 2rem;
  -webkit-box-shadow: 0 0 0.5rem #08090b;
          box-shadow: 0 0 0.5rem #08090b;
  border: 1rem solid #f6a69b;
  background-color: #F4FAFF;
}
iframe div {
  margin: 2rem 0;
}
iframe div label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
}
iframe div label span {
  font-family: red;
  color: #9A3F3F;
}
iframe div input, iframe div textarea {
  width: 100%;
  font-size: 1.2rem;
}
iframe div textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
iframe button {
  margin-top: 3rem;
  padding: 0.5rem 3rem;
  border: 0.2rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.2rem;
  cursor: pointer;
}
iframe button:hover {
  border: 0.2rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
.audio-sec .book-info .cover-page img {
  height: 500px;
  width: auto;
  border: 0.2rem solid #8AA624;
}
.audio-sec .book-info .info {
  padding-top: 2rem;
}
.audio-sec .book-info .info span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #08090b;
}
.audio-sec .book-info .info p {
  line-height: 1rem;
}
.audio-sec .audio {
  padding: 10rem;
}
.audio-sec .audio h3 {
  padding-top: 2rem;
  font-size: 2rem;
}
.audio-sec .audio audio {
  width: 100%;
  padding: 10px;
}
.audio-sec .audio audio::-webkit-media-controls-panel {
  background-color: #3076aa;
  color: #fff;
}
.audio-sec .audio audio::-webkit-media-controls-play-button,
.audio-sec .audio audio::-webkit-media-controls-mute-button {
  color: #fff;
}
.audio-sec .audio audio::-webkit-media-controls-current-time-display,
.audio-sec .audio audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}
.audio-sec .return-btn {
  text-align: center;
}
.audio-sec .return-btn a {
  margin-top: 7rem;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border: 0.1rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
  text-transform: none;
}
.audio-sec .return-btn a:hover {
  border: 0.1rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
.contact-info {
  background-color: #e3e4de;
}
.contact-info .info-flex .info p, .contact-info .info-flex .info a {
  font-family: "Handlee", cursive;
  font-weight: 600;
  color: #9A3F3F;
}
.contact-info .info-flex .info a:hover {
  color: #3076aa;
}
.contact-info .info-flex .info i {
  font-size: 2rem;
  padding-right: 1.5rem;
}
.contact-info .info-flex .info img {
  padding-bottom: 3rem;
}
.contact-info .contact-form {
  padding: 2rem;
  -webkit-box-shadow: 0 0 0.5rem #08090b;
          box-shadow: 0 0 0.5rem #08090b;
  border: 1rem solid #f6a69b;
  background-color: #F4FAFF;
}
.contact-info .contact-form div {
  margin: 2rem 0;
}
.contact-info .contact-form div label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
}
.contact-info .contact-form div label span {
  font-family: red;
  color: #9A3F3F;
}
.contact-info .contact-form div input, .contact-info .contact-form div textarea {
  width: 100%;
  font-size: 1.2rem;
}
.contact-info .contact-form div textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 400px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact-info .contact-form button {
  margin-top: 3rem;
  padding: 0.5rem 3rem;
  border: 0.2rem solid #F4FAFF;
  border-radius: 3rem;
  background-color: #9A3F3F;
  color: #F4FAFF;
  font-size: 1.2rem;
  cursor: pointer;
}
.contact-info .contact-form button:hover {
  border: 0.2rem solid #9A3F3F;
  background-color: #F4FAFF;
  color: #9A3F3F;
}

@keyframes moveText {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}
footer {
  padding: 0.5rem 0;
  border-radius: 10px 10px 0 0;
  background-color: #3076aa;
  font-family: "Handlee", cursive;
  text-align: center;
}
footer .footer-links i {
  font-size: 1rem;
  margin-right: 0.5rem;
}
footer p {
  padding: 1rem 0;
  color: #F4FAFF;
}
footer ul {
  list-style: none;
}
footer ul a {
  font-size: 1rem;
}
footer i {
  font-size: 1.8rem;
}